.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 8.25rem;
    gap: 2.5rem;
}

.login .left {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38.5rem;
    width: 31.25rem;
}

.login .left img {
    width: 85%;
    height: 100%;
    border-radius: 0.75rem;
}

.login .right {
    flex: 40%;
}

.login .right .container {
    height: 34.375rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.login .right .container img {
    width: 8.75rem;
    height: 3.125rem;
    margin-bottom: 1.5rem;
}

.login .right .container .head {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.78rem;
    letter-spacing: 0.015625rem;
    font-family: "Outfit", sans-serif;
    color: #101828;
    margin-top: 1.5rem;
}

.login .right .container .msg {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.19125rem;
    font-family: "Open Sans", sans-serif;
    color: #3F3F3F;
    opacity: 0.6;
    margin-bottom: 1.875rem;
}

.login .right hr {
    width: 8.75rem;
    border-top: 1px solid #000000;
    opacity: 0.2;
}

.login .right .container .myForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login .right .container .myForm label {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.009375rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.login .right .container .myForm input {
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #E4E4E4;
    padding: 0 0.75rem;
    margin-bottom: 1.875rem;
    color: #667085;
    font-size: 1rem;
    line-height: 1.5rem;
}

.login .right .container .myForm input::placeholder {
    color: #667085;
    font-size: 0.9375rem;
    line-height: 1.5rem;
}

.login .right .container .myForm input:focus {
    border: 1px solid #5B35DA !important;
}

.login .right .container .myForm .login-btn {
    font-family: "Open Sans", sans-serif;
    background-color: #5B35DA;
    color: #ffffff;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 100%;
    border: none;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 1.276875rem;
    letter-spacing: 0.028125rem;
    cursor: pointer;
}

.login .error-text {
    color: red;
    font-size: 0.9375rem;
    margin-top: 0.625rem;
}

@media screen and (max-width: 1200px) {
    .login {
        padding: 0;
    }
}
