.success-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgb(0.2, 0.2, 0.2, 0.5);
}

.success-modal .modal-content{
    background-color: #ffffff;;
    width: 400px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
}

.success-modal .modal-content .success-img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.success-modal .modal-content .session-img{
    width: 150px;
    height: 120px;
    margin-bottom: 20px;
}

.success-modal .modal-content span{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27.72px;
    letter-spacing: 0.15px;
    color : #404040;
    text-align: center;
}

@media screen and (max-width: 470px) {
    .success-modal .modal-content{
        width: 90%;
    }
}