.header {
    height: 72px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.05);
    position: relative;
    background-color: #FFFFFF;
    z-index: 2;
    justify-content: space-between;
}

.header .left {
    margin-left: 25px;
}

.header .left img {
    width: 71.27px;
    height: 24px;
    cursor: pointer;
}

.header .right {
    margin-right: 25px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.header .right .logout {
    position: absolute;
    top: 60px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f6f6f6;
    padding: 16px 8px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    height: 50px;
    width: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    letter-spacing: 0.44999998807907104px;
    color: #344054;
    cursor: pointer;

}

.header .right .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header .right img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.header .right .text {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 600;
}

.header .right .arrow {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.header .logout-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #ff0a0a;
}

.header .menu-icon{
    display: none;
}

@media screen and (max-width: 786px){
    .header .menu-icon{
        display: block;
        margin-left: 20px;
        font-size: 30px;
    }
}

@media screen and (max-width: 556px){
    .header .right .inner{
        display: none;
    }
}